### Test Sources ###
####################
test_*.c

### Compiled files ###
######################
*.out

### OS files ###
################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
